:root {
  --main-color: #f8312f;
  --bg-color: #fff;
  /* --bg-color: #f4f4f4; */
  /* --bg-color: radial-gradient(circle at top right, #a9e7ffd4, #f4a0a0bf); */
  --bg-content-color: #fff;
  --bg-menu: #eceef2;
  --bg-tag-color: #f4f4f4;
  --bg-code: #eeeeee2f;
  --bg-codeblock: #f8f8f8;
  --body-color: #4c4d4e;
  --title-color: #50596c;
  --border-color: rgba(0, 0, 0, 0.1);
  --space: 2.5rem;
  --content-width: 776px;
  --main-width-LunBoTu: 300px;
  --main-height-LunBoTu: 126px;
  --main-radius-circle-LunBoTu: 4px;
  --concent-color-hover: #0000009e;
}

::-webkit-scrollbar {
  width: 0.55rem !important;
  height: 0.4rem !important;
  background: 0 0 !important;
}

::-webkit-scrollbar-thumb {
  background: #b5b5b5 !important;
}

@media screen and (max-width: 762px) {
  ::-webkit-scrollbar {
    width: 0.25rem !important;
    height: 0.16rem !important;
  }
}

html,
body {
  scroll-behavior: smooth;
}

body {
  --base-font-size: 16px;
  font-size: var(--base-font-size);
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background: var(--bg-color);
  color: var(--body-color);
  /* -webkit-transition: color 0.6s, background-color 0.6s;
  transition: color 0.6s, background-color 0.6s; */
  margin: 0;
  padding: 0;
  line-height: 1.8;
  /* background-image: radial-gradient(circle at top right, #9bcbde7a, #c095955e, #0288d100); */
  transition: 0.5s;
}

@media screen and (max-width: 650px) {
  body {
    --space: 1.5rem;
  }
}

.btn-copy {
  cursor: pointer;
  background: #e0ffff00;
  border: solid;
  color: #808080;
  font-size: 13px;
  margin: 0 6px 0 -10px;
}

.btn-copy span {
  color: var(--body-color);
}

article,
aside,
figure,
details,
footer,
header,
nav,
section {
  display: block;
}

.main {
  margin: 0 auto;
  padding: 1.5vw 12px 0;
}

.main.LINKS {
  margin: 0 auto;
  max-width: 1024px;
}

.content-card {
  /* background-color: var(--bg-content-color); */
  max-width: var(--content-width);
  margin: 0 auto;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  padding: var(--space);
  border-radius: 5px;
  /* -webkit-box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 2%), 1px 1px 15px 0 rgb(0 0 0 / 3%); */
  /* box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 2%), 1px 1px 15px 0 rgb(0 0 0 / 3%); */
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
  transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
}

.content-card #commit_search {
  display: inline-block;
  font-size: 9px;
}

.content-card>:first-child {
  margin-top: 0;
}

.content-card>:last-child {
  margin-bottom: 0;
}

.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
}

.separate-dot:after {
  content: ' · ';
}

h1,
h2,
h3,
h4,
h5 {
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
  color: var(--title-color);
  margin: 2.75rem 0 1rem;
  font-family: miriam libre, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, pingfang sc, source han sans sc, noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif, Apple Color Emoji, Segoe UI Emoji, Varela Round;
  font-weight: 430;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.05em;
}

small {
  font-size: 0.889em;
}

b,
strong {
  font-weight: 700;
}

m,
mark {
  background: #f9de4b;
  color: #4c4d4e;
}

em {
  font-style: italic;
}

s {
  text-decoration: line-through;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-smoothing: antialiased;
  osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1080px) {
  *[id] {
    scroll-margin-top: 60px;
  }
}

a {
  color: var(--main-color);
  cursor: pointer;
  text-decoration: none;
}

a:not(.button) {
  display: inline-block;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

a:not(.button):hover {
  opacity: 0.8;
  /* text-decoration: underline; */
}

a .index-title {
  color: var(--title-color);
}

img {
  max-width: 100%;
}

img.lazy {
  -webkit-transition: -webkit-filter 0.375s ease 0s;
  transition: -webkit-filter 0.375s ease 0s;
  transition: filter 0.375s ease 0s;
  transition: filter 0.375s ease 0s, -webkit-filter 0.375s ease 0s;
}

img.lazy:not(.loaded) {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  padding-bottom: 40%;
}

hr {
  -webkit-box-sizing: initial;
  box-sizing: initial;
  height: 0;
  overflow: visible;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  border-bottom-color: #eee;
  height: 0.1em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
}

hr:after {
  clear: both;
}

input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 #d1d5da;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

blockquote {
  margin: 16px 0 16px 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

blockquote> :first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: normal;
}

pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

pre span {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: auto;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

li {
  word-wrap: break-all;
}

li>p {
  margin-top: 16px;
}

li+li {
  margin-top: 0.25em;
}

dl {
  padding: 0;
}

dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

dl dd {
  padding: 0 16px;
  margin-bottom: 20px;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 14px;
  background-color: var(--bg-code);
  border-radius: 3px;
  font-weight: 700;
}

a:active,
a:hover {
  outline-width: 0;
}

code,
kbd,
pre {
  font-family: monospace, monospace;
  font-size: 14px;
}

hr:after,
hr:before {
  display: table;
  content: "";
}

td,
th {
  padding: 0;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  list-style-type: lower-alpha;
}

code,
pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 14px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

blockquote,
details,
dl,
ol,
p,
pre,
table,
ul {
  margin-top: 0px;
  margin-bottom: 20px;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

figure {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
}

figure table {
  border: none;
  padding: 0;
  max-width: 100%;
}

figure table th {
  font-weight: 600;
}

figure table tr {
  background-color: transparent;
  border-top: none;
}

figure table td.gutter {
  padding-right: 1rem;
  text-align: right;
  background-color: transparent;
}

.highlight {
  margin-bottom: 20px;
  padding: 0.4rem;
  width: auto;
  border-radius: 3px;
}

.highlight pre {
  margin-bottom: 0;
}

.highlight table {
  margin: 0;
  padding: 0.6rem 0;
}

.highlight pre,
pre {
  padding: 0;
  overflow: auto;
  font-size: 14px;
  line-height: 1.45;
  border-radius: 3px;
}

.task-list-item {
  list-style-type: none;
}

.task-list-item+.task-list-item {
  margin-top: 3px;
}

.task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-family: serif;
}

table th:not(.code):not(.gutter) {
  font-weight: 700;
}

table tr:not(.code):not(.gutter) {
  background-color: #f6f8fa;
}

table tr:not(.code):not(.gutter):not(.highlight) {
  background-color: transparent;
}

table tr:not(.code):not(.gutter):nth-child(2n) {
  /* background-color: #f6f8fa; */
}

table td:not(.code):not(.gutter),
table th:not(.code):not(.gutter) {

  padding: 2px 24px;
  /* padding: 6px 13px; */
  border: 1px solid var(--border-color);
}

overflows table {
  overflow: auto;
}

overflows table th,
overflows table td {
  white-space: nowrap;
}

.post-entry__content,
.post__content {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: var(--body-color);
  font-size: 16px;
  word-wrap: break-word;
}

.post-entry__content:hover,
.post-entry__title:hover {
  color: gray;
}

.post-entry__content a,
.post__content a {
  background-color: initial;
  color: #0366d6;
  text-decoration: none;
}

.post-entry__content a:hover,
.post__content a:hover {
  text-decoration: underline;
}

.post-entry__content>.highlight,
.post__content>.highlight {
  margin: 1rem calc(0rem - var(--space)) !important;
  padding: 0.4rem var(--space) !important;
  border: none !important;
  border-radius: 0 !important;
  width: auto;
}

.post-entry__content h1,
.post__content h1,
.post-entry__content h2,
.post__content h2,
.post-entry__content h3,
.post__content h3,
.post-entry__content h4,
.post__content h4,
.post-entry__content h5,
.post__content h5,
.post-entry__content h6,
.post__content h6 {
  margin-top: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.post-entry__content h1,
.post__content h1,
.post-entry__content h2,
.post__content h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.post-entry__content h6,
.post__content h6 {
  font-size: 0.875em;
  color: #6a737d;
}

.archives {
  position: relative;
  max-width: var(--content-width);
  margin: 0 auto;
}

.archives .archives-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 1.2rem;
  position: relative;
}

.archives .archives-item .archives-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  box-flex: 0;
}

.archives .archives-item .archives-icon {
  border-radius: 50%;
  color: var(--main-color);
  display: block;
  height: 1.6rem;
  text-align: center;
  width: 1.6rem;
}

.archives .archives-item .archives-icon.icon-lg {
  background: var(--main-color);
  line-height: 1.2rem;
}

.archives .archives-item .archives-icon::before {
  border: 0.1rem solid var(--main-color);
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.4rem;
  left: 0.6rem;
  position: absolute;
  top: 0.8rem;
  width: 0.4rem;
}

.archives .archives-item .archives-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  box-flex: 1;
  padding: 2px 0 2px 0.8rem;
}

.archives .archives-item .archives-content .archives-year {
  margin: 0;
}

.archives .archives-item .archives-content .archives-title {
  color: var(--title-color);
  font-size: 20px;
}

.archives .archives-item:hover .archives-icon::before {
  background: var(--main-color);
}

.archives .archives-item::before {
  background: #e7e9ed;
  content: "";
  height: 100%;
  left: 0.8rem;
  position: absolute;
  top: 1.6rem;
  width: 2px;
}

.archives .archives-item:last-child::before {
  background: 0 0;
}

.links-list {
  margin: 0 auto;
  max-width: 1080px;
}

.links-list .links-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -8px;
  border-radius: 5px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  line-height: 1.3;
}

.links-list .links-content .links-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 8px;
  margin: 0 auto;
  margin-top: calc(2.25 * 16px + 32px);
  color: #444;
  /* background: #fff; */
  border-radius: 5px;
  /* -webkit-box-shadow: 1px 5px 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 5px 15px 0 rgba(0, 0, 0, 0.3); */
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 16rem;
  width: calc(100% / 4 - 16px);
}

@media screen and (max-width: 1280px) {
  .links-list .links-content .links-card {
    width: calc(100% / 3 - 16px);
  }
}

@media screen and (max-width: 1080px) {
  .links-list .links-content .links-card {
    width: calc(100% / 2 - 16px);
  }
}

@media screen and (max-width: 768px) {
  .links-list .links-content .links-card {
    width: calc(100% / 1 - 16px);
  }
}

.links-list .links-content .links-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.links-list .links-content .links-left .avatar {
  width: 64px;
  height: 64px;
  margin: 16px 8px 4px 8px;
  margin-top: calc(-1.25 * 16px - 32px);
  border-radius: 100%;
  border: 2px solid #fff;
  background: #fff;
  opacity: 0.6;
}

.links-list .links-content .links-right {
  margin: 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.links-list .links-content .links-right p {
  text-align: center;
  margin: 0;
}

.links-list .links-content .links-right p.links-name {
  padding-top: 6px;
  padding-bottom: 4px;
  font-weight: bold;
}

.links-list .links-content .links-right p.tags {
  display: inline;
  background: none;
  word-wrap: break-word;
  padding-right: 4px;
}

.links-list .links-content .links-right .links-tags-wrapper {
  margin-left: -2px;
  word-break: break-all;
}

.post-list>:last-child {
  margin-bottom: 0;
}

.post-entry {
  margin-bottom: 2rem;
  position: relative;
  border-bottom: 1px solid var(--border-color);
}

.post-entry:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* -webkit-box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.1); */
  /* text-decoration: underline; */
  -webkit-text-stroke-width: thin;
  -webkit-text-stroke-color: var(--concent-color-hover);
}

.post-entry__content .post-entry__title {
  color: var(--title-color);
  margin-top: 0;
  border: none;
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 1.125;
}

.post-meta__cats,
.post-entry__tags {
  display: inline-block;
  position: relative;
  margin: 1em 0 0;
  z-index: 1;
}

.post-meta__cats:empty,
.post-entry__tags:empty {
  display: none;
}

.post-entry__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 0;
}

.post-title {
  padding: calc(var(--space) / 2) 0 calc(var(--space) / 2);
  text-align: center;
}

.post-meta__date {
  color: #808080;
}

.post-entry__meta,
.post-title__meta {
  display: block;
  /* z-index: 1; */
  position: relative;
  font-size: 0.8em;
  opacity: 0.8;
  font-family: rubik, sans-serif;
}

.post-entry__meta:empty,
.post-title__meta:empty {
  display: none;
}

.post-entry__meta p,
.post-title__meta p {
  display: initial;
}

.post-entry__header,
.post__header {
  margin: calc(var(--space) * -1) !important;
  margin-bottom: calc(var(--space) / 2) !important;
  overflow: hidden;
  border-radius: 5px;
}

.post-entry__header:empty,
.post__header:empty {
  display: none;
}

.post-entry__header .post-thumbnail,
.post__header .post-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding-bottom: 40%;
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-origin: padding-box;
  background-attachment: scroll;
}

.post__content p {
  line-height: 1.8;
}

.post__content img.inline {
  display: inline;
}

.post__content div>img,
.post__content p>img,
.post__content div>picture>img,
.post__content p>picture>img {
  display: block;
  margin: auto;
  border-radius: 4px;
}

.post__content span img {
  display: inline;
  margin: auto;
}

.post__comments {
  max-width: var(--content-width);
  margin: var(--space) auto;
  font-family: rubik, sans-serif;
}

.post__comments:empty {
  display: none;
}

.post-footer__meta {
  font-size: 14px;
  margin-top: 1.5rem;
}

.post-footer__meta>:last-child {
  margin-bottom: 0;
}

.post-footer__meta:empty {
  display: none;
}

.post-tags__link,
.post-cats__link {
  display: inline-block;
  margin: 0.35em;
  font-size: 0.75em;
  text-decoration: none;
  background-color: var(--bg-cat-color);
  color: currentColor !important;
  padding: 0.25rem 0.6rem 0.25rem 0.6rem;
  border-radius: 5px;
}

.post-tags__link {
  background-color: var(--bg-tag-color);
}

.post__license {
  background-color: #f5f5f5;
  word-break: break-all;
  margin: 3em 0 1em 0;
  padding: 0.5rem 0.8rem;
  border-left: 4px solid #f44336;
  list-style: none;
}

.post__license p {
  margin: 3px 1px 3px 1px;
  padding: 0;
}

.post__expire {
  display: none;
  margin: calc(var(--space) / 2) var(--space) 0 var(--space);
  padding: 0.5rem 0.8rem;
  background: #ffffc0;
  border-left: 4px solid #fff000;
  list-style: none;
}

.post__expire p {
  color: #947600;
  margin: 3px 1px 3px 1px;
  padding: 0;
}

.cover {
  display: block;
  text-align: center;
  margin: 3rem auto;
}

.cover .cover__logo {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.avator_logo_link {
  display: inline-block;
  padding-left: 10px;
}

/*头像呼吸光环和鼠标悬停旋转放大*/
.avator_logo_link img {
  border-radius: 50%;
  animation: light 4s ease-in-out infinite;
  width: 25px;
  transition: 2s;
  margin-bottom: -3px;
  margin-right: 9px;
}

.avator_logo_link img:hover {
  transform: scale(1.15) rotate(-720deg);
}

@keyframes light {
  0% {
    box-shadow: 0 0 3px #f00;
  }

  25% {
    box-shadow: 0 0 10px #0f0;
  }

  50% {
    box-shadow: 0 0 3px #00f;
  }

  75% {
    box-shadow: 0 0 10px #0f0;
  }

  100% {
    box-shadow: 0 0 3px #f00;
  }
}


.cover .cover__intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover .cover__intro button {
  border: 0;
  background: none;
  text-transform: uppercase;
  color: #999;
  font-size: initial;
  position: relative;
  outline: none;
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.cover .cover__intro details summary {
  appearance: auto;
  text-decoration: none;
}

.cover .cover__intro details summary p {
  border: 0;
  display: inline;
  background: none;
  text-transform: uppercase;
  color: #999;
  font-size: initial;
  position: relative;
  outline: none;
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.cover .cover__intro details summary p:active {
  text-transform: initial;
  color: #b2afaf;
}

.cover .cover__intro details summary p::before,
.cover .cover__intro details summary p::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.cover .cover__intro details summary p::after {
  bottom: 0;
  right: 0;
}

.cover .cover__intro details summary p::before {
  top: 0;
  left: 0;
}

.cover .cover__intro details summary p:hover::before,
.cover .cover__intro details summary p:hover::after {
  width: 100%;
  height: 100%;
}

.cover .cover__intro details summary p:hover::before {
  border-top-color: #989899;
  border-right-color: #989899;
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  border-radius: 5px;
}

.cover .cover__intro details summary p:hover::after {
  border-bottom-color: #989899;
  border-left-color: #989899;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
  border-radius: 5px;
}


.cover .cover__intro button::before,
.cover .cover__intro button::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border: 2px solid transparent;
  width: 0;
  height: 0;
}


.cover .cover__intro button::after {
  bottom: 0;
  right: 0;
}


.cover .cover__intro button::before {
  top: 0;
  left: 0;
}


.cover .cover__intro button:hover::before,
.cover .cover__intro button:hover::after {
  width: 100%;
  height: 100%;
}

.cover .cover__intro button:hover::before {
  border-top-color: #989899;
  border-right-color: #989899;
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  border-radius: 5px;
}

.cover .cover__intro button:hover::after {
  border-bottom-color: #989899;
  border-left-color: #989899;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
  border-radius: 5px;
}

.desc-com {
  display: inline-block;
}

.desc-button {
  display: flex;
}

.desc-box {
  width: 19px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  transition: all .8s;
  position: relative;
  overflow: hidden;
}

.desc-box:before {
  content: "K";
  position: absolute;
  top: 0;
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .4s;
}

.desc-box:nth-child(2)::before {
  transform: translateY(-100%);
  content: 'o';
}

.desc-box:nth-child(3)::before {
  content: 'i';
}

.desc-box:nth-child(4)::before {
  transform: translateY(-100%);
  content: 'N';
}

.desc-box:nth-child(5)::before {
  content: 'L';
}

.desc-button:hover .desc-box:before {
  transform: translateY(0);
}

.btn-cssbuttons {
  padding-top: 6px;
  position: relative;
  line-height: 1;
  color: #999;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons-span {
  margin-top: -4.333333333333333333333px;
}

.btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: bottom;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
  transition-delay: 0.05s;
}



.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn-cssbuttons ul li {
  flex: 1;
}

.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}

.btn-cssbuttons:hover::before {
  transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}

.btn-cssbuttons:hover ul li:nth-child(4) a {
  transition-delay: 0.3s;
}

.btn-cssbuttons #WeChat {
  margin-top: 3.33333px;
}

.footer {
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.1em;
  font-family: rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, pingfang sc, noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif, Apple Color Emoji, Segoe UI Emoji, Varela Round;
  color: #999;
}

.footer * {
  margin: 0 auto;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-margin-start: 0px;
  -moz-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-end: 0px;
  margin-inline-end: 0px;
}

.footer>span {
  margin: 0 0.35em;
}

.footer a {
  color: #999;
  text-decoration: none;
}

.footer svg {
  margin-right: 0.2rem;
}

.footer #b2t {
  display: block;
  width: 3rem;
  height: 3rem;
  position: fixed;
  z-index: 1001;
  right: 1.2rem;
  bottom: 1.2rem;
  border-radius: 5px;
  color: var(--title-color);
  font-size: xx-large;
  /* background-color: var(--bg-menu);
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.15);
  box-shadow: 0 0.3rem 0.6rem rgba(48, 55, 66, 0.15); */
}

.footer #b2t * {
  margin: 8px;
}

.footer .footer-copyright {
  margin-right: 13.5px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 60px;
  padding: 0 calc(var(--space) / 2);
  top: 0;
  z-index: 10;
}

.header .header__left,
.header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: rubik, sans-serif, Varela Round;
}

.header .header__left .logo__text {
  font-size: 25px;
  padding: 16px 10px 16px 10px;
  border-radius: 5px;
}

.header .header__right .navbar__menus {
  padding: 0 0 0 15px;
}

.header .header__right .navbar__menus .navbar-menu {
  font-size: 16px;
  padding: 16px 10px 16px 10px;
  border-radius: 5px;
}

.header .header__right .navbar__menus .navbar-menu:hover {
  background-color: var(--bg-menu);
}

.header .header__left a,
.header .header__right #btn-search,
.header .header__right #btn-toggle-dark {
  padding: 16px 10px 0px 10px;
  font-size: 25px;
}

.header .header__right .dropdown-icon {
  display: none;
  padding: 16px 10px 16px 10px;
  border: 0 !important;
  background-color: transparent;
}

.header .header__right .dropdown-icon * {
  width: 20px;
  height: 20px;
}

.header .header__right .dropdown-icon:focus+.dropdown-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.header .header__right .dropdown-menus {
  -webkit-animation: slide-down 0.15s ease 1;
  animation: slide-down 0.15s ease 1;
  display: none;
  position: absolute;
  left: 12px;
  right: 12px;
  top: 60px;
  z-index: 9999;
  border-radius: 6px;
  padding: 24px;
  background: var(--bg-content-color);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);
  justify-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.header .header__right .dropdown-menus:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.header .header__right .dropdown-menus .dropdown-menu {
  padding: 10px;
}

.header .header__right .dropdown-menus a:hover {
  background: var(--bg-color);
  border-radius: 11px;
}

@media screen and (min-width: 1px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    /* -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); */
  }
}

@media screen and (max-width: 9999999px) {
  .navbar__menus {
    display: none !important;
  }

  .dropdown-icon {
    display: block !important;
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.6rem);
    transform: translateY(-1.6rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.6rem);
    transform: translateY(-1.6rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: var(--content-width);
  margin: 1.5rem auto;
  height: auto;
}

.nav+* {
  margin-top: 0;
}

.nav .nav__prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 50%;
  -ms-flex: 50% 1;
  -webkit-flex: 50% 1;
  flex: 50% 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.nav .nav__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin-left: -41px;
}

.nav .nav__card .space {
  color: #838383;
  cursor: pointer;
}

.nav .nav__card .page-number {
  border: 0;
  display: inline;
  background: none;
  text-transform: uppercase;
  color: #838383;
  font-size: initial;
  position: relative;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

/* .nav .nav__card .page-number::before,
.nav .nav__card .page-number::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border: 2px solid transparent;
  width: 0;
  height: 0;
}


.nav .nav__card .page-number::after {
  bottom: 0;
  right: 0;
}


.nav .nav__card .page-number::before {
  top: 0;
  left: 0;
}


.nav .nav__card .page-number:hover::before,
.nav .nav__card .page-number:hover::after {
  width: 100%;
  height: 100%;
}

.nav .nav__card .page-number:hover::before {
  border-top-color: #989899;
  border-right-color: #989899;
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  border-radius: 5px;
}

.nav .nav__card .page-number:hover::after {
  border-bottom-color: #989899;
  border-left-color: #989899;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
  border-radius: 5px;
} */

.nav .nav__card .page-number:hover {
  text-decoration: underline;
}

.nav .nav__card .current {
  color: var(--title-color);
  cursor: context-menu;
  font-weight: 700;
}

.nav .nav__card .current:hover {
  text-decoration: none;
}

.Skip_nav_card {
  position: relative;
  width: 46px;
  --border-height: 1px;
  --border-before-color: #c4c4c463;
  --text-color: #fff;

}

.Skip_input {
  margin-top: 5px;
  color: #000;
  font-size: 0.6rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border: var(--border-height) solid var(--border-before-color);
  border-radius: 9px 0px 0px 9px;
}

.Text_skip_button {
  margin-top: 5px;
  font-size: 0.6rem;
  position: absolute;
  color: ar(--border-before-color);
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.8em;
  border: none;
  border-bottom: -27px;
  border-bottom: -34px;
  border-radius: 0px 9px 9px 0px;
  cursor: pointer;
  transition: 0.75s;
}

.Skip_input:hover,
.Text_skip_button:hover {
  background: #cfcfcf;
}

.Skip_input:focus,
.Text_skip_button:focus {
  outline: none;
}

.nav .nav__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 50%;
  -ms-flex: 50% 1;
  -webkit-flex: 50% 1;
  flex: 50% 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.nav .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: var(--title-color);
}

.nav .nav__link:hover {
  text-decoration: none;
  opacity: 1;
}

.nav .nav__label {
  font-size: 0.8rem;
  font-weight: 450;
  color: #808080;
}

.nav .nav__title {
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.125;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.search-form .search-input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-transition: border-bottom-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-bottom-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--body-color);
  opacity: 0.87;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--border-color);
  background-color: transparent;
}

.search-form .search-input::-webkit-search-decoration,
.search-form .search-input::-webkit-search-cancel-button,
.search-form .search-input::-webkit-search-results-button,
.search-form .search-input::-webkit-search-results-decoration {
  display: none;
}

.search-form .search-input:focus {
  border: none;
  border-bottom: 1px solid var(--main-color);
}

.search-form #search-input {
  width: 100%;
}

.search-result .search-result__notice {
  opacity: 0.67;
  max-width: var(--content-width);
  margin: 0 auto;
  padding-top: calc(var(--space) / 4);
  padding-bottom: calc(var(--space) / 4);
}

.search-result .search-result__list:empty {
  display: none;
}

.search-result a.search-result__link {
  color: inherit;
}

.search-result a.search-result__link:hover {
  text-decoration: none;
}

.search-result a.search-result__link:not(:first-of-type) .search-result__item {
  padding-top: calc(var(--space) / 4);
}

.search-result a.search-result__link:not(:last-of-type) .search-result__item {
  padding-bottom: calc(var(--space) / 4);
  border-bottom: 1px solid var(--border-color);
}

.toc {
  display: block;
  font-size: 14px;
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
  border-bottom: 1px solid var(--border-color);
}

.toc .toc-link {
  color: #808080;
}

.toc .toc-child {
  padding-left: 0.6rem;
  list-style-type: none;
}

.btn-toc {
  display: none;
  width: 3rem;
  height: 3rem;
  position: fixed;
  z-index: 1001;
  right: 1.2rem;
  bottom: 4.8rem;
  border-radius: 5px;
  color: var(--title-color);
  font-size: xx-large;
}

.btn-toc * {
  margin: 8px;
}

.btn-toc:focus+.toc-menus {
  display: block;
}

.toc-menus {
  -webkit-animation: slide-up 0.15s ease 1;
  animation: slide-up 0.15s ease 1;
  display: none;
  position: fixed;
  left: 12px;
  right: 12px;
  bottom: 12px;
  max-height: 60vh;
  overflow: auto;
  border-radius: 6px;
  padding: 24px;
  background: var(--bg-content-color);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);
  z-index: 9999;
}

.toc-menus:hover {
  display: block;
}

.toc-menus .toc-title {
  font-size: 0.9rem;
  color: #808080;
  margin-bottom: 0.8rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #eaecef;
}

.post-side {
  display: block;
  height: 0;
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: calc(60px + 10px);
}

.post-side .post-side__toc {
  display: block;
}

.post-side .post-side__toc .toc {
  display: none;
  width: calc((100vw - 776px) / 2 - 12.6px);
  height: calc(100vh - 60px * 2 - 20px);
  padding-left: 0.6rem;
}

@media screen and (max-width: 1246px) {
  .post-side {
    width: calc(100vw / 6 - 20px);
  }

  .post-side .post-side__toc .toc {
    width: calc(100vw / 6 - 20px);
  }

  .post__with-toc {
    max-width: calc(100vw / 6 * 4);
  }
}

@media screen and (max-width: 1080px) {
  .post-side {
    width: calc(100vw / 4 - 30px);
  }

  .post-side .post-side__toc .toc {
    width: calc(100vw / 4 - 30px);
  }

  .post__with-toc {
    max-width: calc(100vw / 4 * 3);
  }
}

@media screen and (min-width: 765px) {
  .post-side .post-side__toc .toc {
    display: block;
  }
}

@media screen and (max-width: 764px) {
  .post__with-toc {
    max-width: var(--w);
  }

  #btn-toc {
    display: block;
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1.6rem);
    transform: translateY(1.6rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1.6rem);
    transform: translateY(1.6rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1.6rem);
    transform: translateY(1.6rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* .sliding-fold,
details {
  display: block;
  padding: 16px;
  margin: 20px 0;
  background: var(--bg-content-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
} */

.sliding-fold>summary,
details>summary {
  cursor: pointer;
  outline: none;
  text-decoration: underline;
}

.sliding-fold .fold-content,
details .fold-content {
  margin-top: 20px;
}

details .fold-content p {
  padding-left: 1.5rem;
}

.sliding-fold .fold-content>:first-child,
details .fold-content>:first-child {
  margin-top: 0;
}

.sliding-fold .fold-content>:last-child,
details .fold-content>:last-child {
  margin-bottom: 0;
}

.sliding-fold.collapsed>summary:after {
  float: right;
  content: "+";

}

.sliding-fold.collapsed .fold-content {
  max-height: 0;
  overflow: hidden;
  margin: 0;
}

.sliding-fold.expanded>summary:after {
  float: right;
  content: "-";
}

.sliding-fold.expanded .fold-content {
  max-height: 100%;
  overflow: hidden;
}

.sliding-fold .fold-content {
  -webkit-transition: all 0.375s;
  transition: all 0.375s;
}

.fold-content p {
  font-style: italic;
  font-family: none;
}

.blockquote-note {
  margin: 1rem 0;
  padding: 1rem;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
  transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
  border: none !important;
}

.blockquote-note .blockquote-note__header {
  font-family: miriam libre, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, pingfang sc, source han sans sc, noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif, Apple Color Emoji, Segoe UI Emoji, Varela Round;
  font-size: 1.125em;
  font-weight: 550;
}

.blockquote-note .blockquote-note__header .blockquote-note__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-top: 0.3em;
}

.blockquote-note .blockquote-note__header .blockquote-note__icon svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
}

.blockquote-note .blockquote-note__content {
  color: var(--body-color) !important;
  margin-bottom: 20px;
}

.blockquote-note .blockquote-note__content>:first-child {
  margin-top: 0;
}

.blockquote-note .blockquote-note__content>:last-child {
  margin-bottom: 0;
}

.post__content>.blockquote-note {
  margin: 1rem calc(0rem - var(--space));
  padding: 1rem var(--space);
}

.blockquote-note__info {
  color: #0070f3 !important;
  background-color: rgba(0, 113, 243, 0.1);
}

.blockquote-note__info .blockquote-note__icon svg {
  fill: #0070f3;
  stroke: #0070f3;
}

.blockquote-note__important {
  color: #19cc96 !important;
  background-color: rgba(25, 204, 150, 0.1);
}

.blockquote-note__important .blockquote-note__icon svg {
  fill: #19cc96;
  stroke: #19cc96;
}

.blockquote-note__tip {
  color: #d400ff !important;
  background-color: rgba(212, 0, 255, 0.1);
}

.blockquote-note__tip .blockquote-note__icon svg {
  fill: #d400ff;
  stroke: #d400ff;
}

.blockquote-note__caution {
  color: #f5a623 !important;
  background-color: rgba(245, 166, 35, 0.1);
}

.blockquote-note__caution .blockquote-note__icon svg {
  fill: #f5a623;
  stroke: #f5a623;
}

.blockquote-note__warning {
  color: #e00 !important;
  background-color: rgba(224, 0, 0, 0.1);
}

.blockquote-note__warning .blockquote-note__icon svg {
  fill: #e00;
  stroke: #e00;
}

.wenzhangmulu {
  padding-left: 38px;
  font-style: oblique;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #808080;
}

.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 6px;
  height: 100vh;
  background: var(--bg-color);
}

.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

@keyframes scale {

  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}

.error {
  background: var(--bg-color);
  padding-top: 89px;
}

.error .img {
  width: 500px;
  margin: 0 auto;
}

#err .back {
  background: url(../img/twin/twin_404/error_BTN.png) no-repeat;
  display: block;
  width: 156px;
  height: 57px;
  text-indent: -99em;
  margin: 30px auto;
}




#carousel_main {
  display: inline-block;
  height: var(--main-height-LunBoTu);
  width: var(--main-width-LunBoTu);
  overflow: hidden;
  position: relative;
  padding: 0;
  border-radius: 15px;
  margin: 0 auto;
  margin-left: 10px;
}

#carousel_main #div_img {
  height: var(--main-height-LunBoTu);
  position: absolute;
  list-style: none;
  padding: 0;
}

#carousel_main #div_img .every_img {
  width: var(--main-width-LunBoTu);
  height: var(--main-height-LunBoTu);
  float: left;
  margin-top: 0;
}

#carousel_main #div_img .every_img #link_img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#carousel_main .div_circle {
  width: 92px;
  height: 0px;
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -58px;
  bottom: -4px;
  list-style: none;
}

#carousel_main .div_circle>.every_circle {
  width: var(--main-radius-circle-LunBoTu);
  height: var(--main-radius-circle-LunBoTu);
  background: #FFFFFF;
  float: left;
  border-radius: 50%;
  margin: 4px 4px;
}

#carousel_main .btn {
  position: absolute;
  z-index: 2;
  color: #ffffff4d;
  cursor: pointer;
}

#carousel_main .left {
  left: -75px;
  /* 不论正负，数值增加5px */
  cursor: w-resize;
}

#carousel_main .right {
  left: 205px;
  /* 不论正负，数值下降5px */
  cursor: e-resize;
}

#carousel_main .btn_p,
#carousel_main .btn_p font {
  vertical-align: inherit;
  font-size: xxx-large;
  width: 170px;
  /* 若每次上升10px */
  height: var(--main-height-LunBoTu);
  vertical-align: middle;
  line-height: 132px;
}


#carousel_main .left:hover>.btn_p {
  color: #00000036;
}

#carousel_main .right:hover>.btn_p {
  color: #00000036;
}


#carousel_main .left:active>.btn_p {
  color: #00000036;
  background: #00000045;
}

#carousel_main .right:active>.btn_p {
  color: #00000036;
  background: #00000045;
}

.nav .nav__card .page-number:hover::after {
  border-bottom-color: #989899;
  border-left-color: #989899;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
  border-radius: 5px;
}

*/ .nav .nav__card .page-number:hover {
  text-decoration: underline;
}

.nav .nav__card .current {
  color: var(--title-color);
  cursor: context-menu;
  font-weight: 700;
}

.nav .nav__card .current:hover {
  text-decoration: none;
}

.Search_nav_card {
  margin-right: 38px;
  position: relative;
  width: 220px;
  --border-height: 1px;
  --border-before-color: #c4c4c463;
  --text-color: #fff;

}

.Search_input {
  margin-top: 5px;
  color: #000;
  font-size: 0.6rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border: var(--border-height) solid var(--border-before-color);
  border-radius: 9px 0px 0px 9px;
}

.Text_search_button {
  margin-top: 5px;
  font-size: 0.6rem;
  position: absolute;
  color: ar(--border-before-color);
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.8em;
  border: none;
  border-bottom: -27px;
  border-bottom: -34px;
  border-radius: 0px 9px 9px 0px;
  cursor: pointer;
  transition: 0.75s;
}

.Search_input:hover,
.Text_search_button:hover {
  background: #cfcfcf;
}

.Search_input:focus,
.Text_search_button:focus {
  outline: none;
}

.Page_Development_log {
  color: #ff7200;
}

.pan-list {
  margin: 0 auto;
  max-width: 1080px;
}

.pan-list .pan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -8px;
  border-radius: 5px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  line-height: 1.3;
}

.pan-list .pan-content .pan-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 127px;
  display: flex;
  padding: 8px;
  margin: 0 auto;
  margin-top: calc(2.25 * 16px + 32px);
  color: #444;
  /* background: #fff; */
  border-radius: 5px;
  /* -webkit-box-shadow: 1px 5px 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 5px 15px 0 rgba(0, 0, 0, 0.3); */
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 16rem;
  width: calc(100% / 4 - 16px);
}

/* @media screen and (max-width: 1280px) {
  .pan-list .pan-content .pan-card {
    width: calc(100% / 3 - 16px);
  }
}

@media screen and (max-width: 1080px) {
  .pan-list .pan-content .pan-card {
    width: calc(100% / 2 - 16px);
  }
}

@media screen and (max-width: 768px) {
  .pan-list .pan-content .pan-card {
    width: calc(100% / 1 - 16px);
  }
} */

.pan-list .pan-content .pan-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.pan-list .pan-content .pan-left .avatar {
  width: 100px;
  height: 100px;
  margin: 16px 8px 4px 8px;
  margin-top: calc(-1.25 * 16px - 32px);
  border-radius: 23%;
  /* border: 2px solid #fff; */
  background: #fff;
  opacity: 0.6;
}

.pan-list .pan-content .pan-right {
  margin: 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.pan-list .pan-content .pan-right p {
  text-align: center;
  margin: 0;
}

.pan-list .pan-content .pan-right p.pan-name {
  padding-top: 6px;
  padding-bottom: 4px;
  font-weight: bold;
}

.pan-list .pan-content .pan-right p.tags {
  display: inline;
  background: none;
  word-wrap: break-word;
  padding-right: 4px;
}

.pan-list .pan-content .pan-right .pan-tags-wrapper {
  margin-left: -2px;
  word-break: break-all;
}

.hbe-button {
  padding: 1.3em 3em;
  border: 1px #959595 solid;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: var(--body-color);
  background-color: var(--bg-color);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.hbe-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 15px 20px #f0f0f0;
  color: var(--body-color);
  transform: translateY(-7px);
}

.hbe-button:active {
  transform: translateY(-1px);
}